@import "./variables";
@import "./mixins";
@import "./base";

@import "./components/header";
@import "./components/footer";
@import "./components/hero-slider";
@import "./components/button";
@import "./components/section";
@import "./components/policy-card";
@import "./components/product-card";
@import "./components/catalog";
@import "./components/custom-checkbox";
@import "./components/product";
@import "./components/product-view-modal";
@import "./components/cart";
@import "./components/login";

.act_body {
    overflow: hidden;
}

// THE LOADING EFFECT
.skeleton {
    background-color: #e2e5e7;
    background-image: linear-gradient(90deg, rgba(#fff, 0), rgba(#fff, 0.5), rgba(#fff, 0));
    background-size: 40px 100%; // width of the shine
    background-repeat: no-repeat; // No need to repeat the shine effect
    animation: shine 1s ease infinite; // increase animation time to see effect in 'slow-mo'
}

@keyframes shine {
    to {
        background-position: right -40px top 0;
    }
}
