.popper-link {
    display: block;
    margin-left: 5px;
    cursor: pointer;
}

.popper-container {
    width: 200px;
    border-radius: 10px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.popper-input {
    display: flex;
    font-size: 1.6rem;
    align-items: center;
    padding: 5px 10px;
}
